<!DOCTYPE html>
<html>
<head>
	<title>Boot Strap external online</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

</head>
<body>
	<div class="container">
		<div class="jumbotron" style="margin-top: 50px;">
			<h1>Welcome to Bootstrap external link</h1>
		</div>
		<div class="row">
		<div class="col-md-4">
			<div class="jumbotron">
			   <h2>Login</h2>
			   <form method="POST" action="#">
			   	
			   	<input type="text" name="uname" class="form-control" placeholder="User Name:" required>
			   	<input type="password" name="upwd" class="form-control" placeholder="Password:">

			   	<input type="submit" value="Login" class="btn btn-primary">
			   </form>

		    </div>
		</div>
		<div class="col-md-6">
			
			<div class="jumbotron" style="background-color: green">


			   <h2>Register</h2>
			   	<form method="POST" action="#">
			   	
			   	<input type="text" name="uname" class="form-control" placeholder="User Name:" required>
			   	<input type="password" name="upwd" class="form-control" placeholder="Password:">
			   	<input type="email" name="uemail" class="form-control" placeholder="Email:">

			   	<input type="submit" value="Login" class="btn btn-primary">
			   </form>

		    </div>
		</div>
	</div>





</body>
</html>