<!DOCTYPE html>
<html>
<head>
	<title>Java Script operations</title>
	<script type="text/javascript">
		function ad()
		{
			var val1 = parseInt(document.getElementById("first").value);
			var val2 = parseInt(document.getElementById("second").value);                      
			alert (val1+val2);
		}
	</script>

</head>
<body>
	<form action="" method="POST">
		{% csrf_token %}
		NUMBER: <input type="text" name="fval" id="first" required=""><br/>
		Sec Number <input type="text" name="sval" id="second" required=""><br/>
		<button type="Submit" onclick="ad()"> AddValues </button>
	</form>	



</body>
</html>