{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title> Display user data</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<script src="{% static 'js/bootstrap.min.js' %}"></script>

</head>
<body>
	<div clsss="container">
		<div class="jumbotron col-md-7" style="margin: auto;margin-top: 50px;">
			<h3>Users Data 
				<span style="float:right;font-size: 20px">
				<a href="{% url 'usreg' %}" class="btn btn-primary">Add Users</a>

				</span>
			</h3>
			<table class="table table-hover">
			<tr>
				<th>Sl.no</th>
				<th>Id.</th>
				<th>user</th>
				<th>pwd</th>
				<th>age</th>
			</tr>
			{% for p in d %}
			<tr>
				<td>{{forloop.counter}}</td>
				<td>{{p.id}}</td>
				<td>{{p.uname}}</td>
				<td>{{p.pwd}}</td>
				<td>{{p.age}}</td>
			</tr>
			{% endfor %}
			
		</table>
		</div>
	</div>

</body>
</html>